venv/
**/gcp_credentials.json
*pycache*


# Ignore Airflow logs and generated password file
config/simple_auth_manager_passwords.json.generated

# Ignore package-info
goodreads_recommendations.egg-info

# Ignore pytest cache
.pytest_cache/

data/sample_features/
data/*.parquet
data/*.csv

**/logs/
.DS_Store

.env
airflow-webserver.pid
airflow.cfg 
webserver_config.py
gcp_credentials.json

gha-creds-*.json